.board {
  margin-left: 15%;
  height: 600px; 
  width: 600px;
  background-color: tan;
}

h1 {
  text-align: auto,
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 60px; 
  height: 200px;
  width: 200px;
}

